/* marque about me section */


.marquee-inner{
    animation: marquee 20s linear infinite;
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
} 